:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .electro-main-container {
    overflow: hidden;
  }
  
  .electro-main-container,
  .electero-main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .electro-main-container {
    position: relative;
    width: 100%;
    /* height: 3584px; */
    /* margin: 0 auto; */
    background: #ffffff;
    overflow: hidden;
  }
  .electro-rectangle {
    position: relative;
    width: 1280px;
    height: 124px;
    margin: 0 0 0 0;
    background: #ffffff;
    z-index: 3;
    overflow: visible auto;
    display: none;
  }
  .electro-frame {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 226px;
    position: relative;
    width: 1174.53px;
    margin: 36px 0 0 52.902px;
    z-index: 115;
  }
  .electro-clip-path-group {
    flex-shrink: 0;
    position: relative;
    width: 45.675px;
    height: 45.674px;
    z-index: 116;
    -webkit-mask-image: url(../assets/images/227037f7-f88e-4ff5-ace0-664cb342ac02.png);
    -webkit-mask-size: cover;
  }
  .electro-group {
    position: absolute;
    width: 109.66%;
    height: 109.66%;
    top: -4.83%;
    left: -4.83%;
    z-index: 117;
  }
  .electro-clip-path-group-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 118;
    -webkit-mask-image: url(../assets/images/b5ae35d0-6493-4d93-953a-e2737eba43e6.png);
    -webkit-mask-size: cover;
  }
  .electro-group-2 {
    position: absolute;
    width: 107.2%;
    height: 107.2%;
    top: -3.6%;
    left: -3.6%;
    z-index: 119;
  }
  .electro-clip-path-group-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 120;
    -webkit-mask-image: url(../assets/images/59c70925-94f7-448c-ad22-314debb6ccea.png);
    -webkit-mask-size: cover;
  }
  .electro-group-4 {
    position: absolute;
    width: 100.15%;
    height: 100.03%;
    top: -0.02%;
    left: -0.06%;
    z-index: 121;
  }
  .electro-rectangle-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 122;
  }
  .electro-frame-6 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 43.333px;
    position: relative;
    width: 517px;
    z-index: 123;
  }
  .electro-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 131px;
    padding: 11px 0 11px 0;
    cursor: pointer;
    background: transparent;
    border: 1px solid #000000;
    z-index: 124;
    border-radius: 29px;
    box-sizing: content-box;
  }
  .electro-span {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 13px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 14.059215545654297px;
    font-weight: 800;
    line-height: 13px;
    text-align: center;
    white-space: nowrap;
    z-index: 125;
  }
  .electro-span-7 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 76px;
    height: 13px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 14.059215545654297px;
    font-weight: 800;
    line-height: 13px;
    text-align: center;
    white-space: nowrap;
    z-index: 126;
  }
  .electro-span-8 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 80px;
    height: 13px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 14.059215545654297px;
    font-weight: 800;
    line-height: 13px;
    text-align: center;
    white-space: nowrap;
    z-index: 127;
  }
  .electro-span-9 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 100px;
    height: 13px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 14.059215545654297px;
    font-weight: 800;
    line-height: 13px;
    text-align: center;
    white-space: nowrap;
    z-index: 128;
  }
  .electro-group-a {
    flex-shrink: 0;
    position: relative;
    width: 159.854px;
    height: 62.904px;
    background: url(../assets/images/c19b79e3-c907-41eb-b80f-6db72a7a7401.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 129;
  }
  .electro-group-b {
    position: relative;
    width: 670.738px;
    height: 162.842px;
    margin: 42.718px 0 0 632.261px;
    background: url(../assets/images/c4f946db-b1d2-4f59-99fd-8157567d630f.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 130;
  }
  .electro-span-c {
    display: block;
    position: relative;
    height: 29px;
    margin: 275.44px 0 0 53px;
    color: #ffffff;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 35.17867660522461px;
    font-weight: 900;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
  }
  .electro-span-d {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 800px;
    height: 98px;
    margin: 32px 0 0 53px;
    color: #ffffff;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 48.690208435058594px;
    font-weight: 400;
    line-height: 53.883px;
    text-align: left;
    z-index: 4;
  }
  .electro-span-e {
    display: block;
    position: relative;
    height: 12.955px;
    margin: 105px 0 0 70px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 15.66179370880127px;
    font-weight: 100;
    line-height: 12.955px;
    text-align: left;
    white-space: nowrap;
    z-index: 6;
  }
  .electro-flex-row-cd {
    position: relative;
    width: 100%;
    height: 132.978px;
    margin: 33.045px 0 0 0;
    z-index: 133;
  }
  .electro-group-f {
    position: absolute;
    width: 45.37%;
    height: 100%;
    top: 0;
    left: 54.63%;
    background: url(../assets/images/3005685e-5f58-4d25-9b7c-b4ee4867e3d5.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 133;
  }
  .electro-span-10 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 29px;
    top: 69px;
    left: calc(50% - 584.87px);
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 35.626983642578125px;
    font-weight: 900;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
  }
  .electro-frame-11 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 32px;
    position: relative;
    width: 976px;
    margin: 31.022px 0 0 152px;
    z-index: 33;
  }
  .electro-frame-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 304px;
    height: 397px;
    padding: 0 0 23px 0;
    background: #ffffff;
    z-index: 34;
    border-radius: 17px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .electro-image {
    flex-shrink: 0;
    position: relative;
    width: 304px;
    height: 249px;
    background: url(../assets/images/72f1ef3e82467230b4016a48a55213476bea4389.png)
      no-repeat center;
    background-size: cover;
    z-index: 35;
    border-radius: 17px 17px 0 0;
  }
  .electro-frame-13 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 18px;
    position: relative;
    min-width: 0;
    height: 148px;
    padding: 0 30px 0 30px;
    z-index: 36;
  }
  .electro-private-power-agreement {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 244px;
    height: 34px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.389999389648438px;
    font-weight: 800;
    line-height: 19.052px;
    text-align: center;
    z-index: 37;
  }
  .electro-long-term-contract {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 244px;
    height: 41px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 14.0989990234375px;
    font-weight: 400;
    line-height: 14.607px;
    text-align: center;
    z-index: 38;
  }
  .electro-frame-14 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 304px;
    height: 397px;
    padding: 0 0 23px 0;
    background: #ffffff;
    z-index: 39;
    border-radius: 17px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .electro-image-15 {
    flex-shrink: 0;
    position: relative;
    width: 304px;
    height: 249px;
    background: url(../assets/images/b2b641f39c0f2c726f425f26e782c3519f3ca23b.png)
      no-repeat center;
    background-size: cover;
    z-index: 40;
    border-radius: 17px 17px 0 0;
  }
  .electro-frame-16 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 18px;
    position: relative;
    min-width: 0;
    height: 148px;
    padding: 0 30px 0 30px;
    z-index: 41;
  }
  .electro-electrical-infrastructure-planning {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 244px;
    height: 34px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.389999389648438px;
    font-weight: 800;
    line-height: 19.052px;
    text-align: center;
    z-index: 42;
  }
  .electro-strategic-development {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 244px;
    height: 41px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 14.0989990234375px;
    font-weight: 400;
    line-height: 14.607px;
    text-align: center;
    z-index: 43;
  }
  .electro-frame-17 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 304px;
    height: 397px;
    padding: 0 0 23px 0;
    background: #ffffff;
    z-index: 44;
    border-radius: 17px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .electro-image-18 {
    flex-shrink: 0;
    position: relative;
    width: 304px;
    height: 249px;
    background: url(../assets/images/4bcb6080f5afb807dc2c46e46a2bd38b5b323e57.png)
      no-repeat center;
    background-size: cover;
    z-index: 45;
    border-radius: 17px 17px 0 0;
  }
  .electro-frame-19 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 18px;
    position: relative;
    min-width: 0;
    height: 148px;
    padding: 0 30px 0 30px;
    z-index: 46;
  }
  .electro-electrical-studies {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.389999389648438px;
    font-weight: 800;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
    z-index: 47;
  }
  .electro-analytical-assessments {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 244px;
    height: 41px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 14.0989990234375px;
    font-weight: 400;
    line-height: 14.607px;
    text-align: center;
    z-index: 48;
  }
  .electro-frame-1a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 32px;
    position: relative;
    width: 640px;
    margin: 30px 0 0 320px;
    z-index: 49;
  }
  .electro-frame-1b {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 304px;
    height: 397px;
    padding: 0 0 23px 0;
    background: #ffffff;
    z-index: 50;
    border-radius: 17px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .electro-image-1c {
    flex-shrink: 0;
    position: relative;
    width: 304px;
    height: 249px;
    background: url(../assets/images/cf84c498d4e19dbc79b6216608a7134c76afdc27.png)
      no-repeat center;
    background-size: cover;
    z-index: 51;
    border-radius: 17px 17px 0 0;
  }
  .electro-frame-1d {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 18px;
    position: relative;
    min-width: 0;
    height: 148px;
    padding: 0 30px 0 30px;
    z-index: 52;
  }
  .electro-subestation-design {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.389999389648438px;
    font-weight: 800;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
    z-index: 53;
  }
  .electro-engineering-planning {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 244px;
    height: 41px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 14.0989990234375px;
    font-weight: 400;
    line-height: 14.607px;
    text-align: center;
    z-index: 54;
  }
  .electro-frame-1e {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 304px;
    height: 397px;
    padding: 0 0 23px 0;
    background: #ffffff;
    z-index: 55;
    border-radius: 17px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .electro-image-1f {
    flex-shrink: 0;
    position: relative;
    width: 304px;
    height: 249px;
    background: url(../assets/images/dec7910fa25300d43b1944bfed565b5f365a3713.png)
      no-repeat center;
    background-size: cover;
    z-index: 56;
    border-radius: 17px 17px 0 0;
  }
  .electro-frame-20 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 18px;
    position: relative;
    min-width: 0;
    height: 148px;
    padding: 0 30px 0 30px;
    z-index: 57;
  }
  .electro-transmission-lines-design {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.389999389648438px;
    font-weight: 800;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
    z-index: 58;
  }
  .electro-design-overhead-underground {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 244px;
    height: 41px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 14.0989990234375px;
    font-weight: 400;
    line-height: 14.607px;
    text-align: center;
    z-index: 59;
  }
  .electro-industrial-automation-process-control {
    position: relative;
    /* width: 530.739px; */
    height: 132.978px;
    margin: 10.001px 0 0 739px;
    background: url(../assets/images/1d03cd8a-80a7-4a8b-a52e-ddbb3105a2ae.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 131;
  }
  .electro-services-offered {
    display: block;
    position: relative;
    height: 29px;
    margin: 0.02px 0 0 123px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 35.626983642578125px;
    font-weight: 900;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
  }
  .electro-flex-row-d {
    display: block;
    position: relative;
    height: 19px;
    margin: 23px 0 0 123px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 22.395381927490234px;
    font-weight: 800;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }
  .electro-frame-21 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* width: 1133px; */
    height: 211px;
    margin: 30px 0 0 73px;
    z-index: 76;
  }
  .electro-box-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 213px;
    height: 211px;
    padding: 11px 14px 11px 14px;
    background: #ffffff;
    z-index: 60;
    border-radius: 11px;
    box-shadow: 0 3.566px 3.566px 0 rgba(0, 0, 0, 0.25);
  }
  .electro-frame-22 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 185px;
    z-index: 61;
  }
  .electro-image-23 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 116px;
    background: url(../assets/images/a80d9aa3632c61eaf535a4a6c6a36d107cc56276.png)
      no-repeat center;
    background-size: cover;
    z-index: 62;
  }
  .electro-control-systems {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 185px;
    min-width: 0;
    height: 49px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 12.568012237548828px;
    font-weight: 400;
    line-height: 13.02px;
    text-align: center;
    z-index: 63;
  }
  .electro-frame-24 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 213px;
    height: 211px;
    padding: 11px 14px 11px 14px;
    background: #ffffff;
    z-index: 64;
    border-radius: 11px;
    box-shadow: 0 3.566px 3.566px 0 rgba(0, 0, 0, 0.25);
  }
  .electro-frame-25 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 185px;
    z-index: 65;
  }
  .electro-image-26 {
    flex-shrink: 0;
    position: relative;
    width: 185px;
    height: 116px;
    background: url(../assets/images/a18949657851081388eb989b4fa811fa31ea768b.png)
      no-repeat center;
    background-size: cover;
    z-index: 66;
    border-radius: 8px;
  }
  .electro-distributed-control-systems {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 155px;
    height: 49px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 12.568012237548828px;
    font-weight: 400;
    line-height: 13.02px;
    text-align: center;
    z-index: 67;
  }
  .electro-frame-27 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 213px;
    height: 211px;
    padding: 11px 14px 11px 14px;
    background: #ffffff;
    z-index: 68;
    border-radius: 11px;
    box-shadow: 0 3.566px 3.566px 0 rgba(0, 0, 0, 0.25);
  }
  .electro-frame-28 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 185px;
    z-index: 69;
  }
  .electro-image-29 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 116px;
    background: url(../assets/images/00c975707cf46a1e27f544df9971a90dd2e36ba6.png)
      no-repeat center;
    background-size: cover;
    z-index: 70;
    border-radius: 11px;
  }
  .electro-remote-supervision-control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 155px;
    height: 49px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 12.568012237548828px;
    font-weight: 400;
    line-height: 13.02px;
    text-align: center;
    z-index: 71;
  }
  .electro-frame-2a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 213px;
    height: 211px;
    padding: 11px 14px 11px 14px;
    background: #ffffff;
    z-index: 72;
    border-radius: 11px;
    box-shadow: 0 3.566px 3.566px 0 rgba(0, 0, 0, 0.25);
  }
  .electro-frame-2b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 185px;
    z-index: 73;
  }
  .electro-image-2c {
    flex-shrink: 0;
    position: relative;
    width: 185px;
    height: 116px;
    background: url(../assets/images/e7bf078eaa1891320b2df061282c573f2ef7d690.png)
      no-repeat center;
    background-size: cover;
    z-index: 74;
    border-radius: 11px;
  }
  .electro-energy-management-systems {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 155px;
    height: 49px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 12.568012237548828px;
    font-weight: 400;
    line-height: 13.02px;
    text-align: center;
    z-index: 75;
  }
  .electro-frame-2d {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 213px;
    height: 211px;
    padding: 11px 14px 11px 14px;
    background: #ffffff;
    z-index: 76;
    border-radius: 11px;
    box-shadow: 0 3.566px 3.566px 0 rgba(0, 0, 0, 0.25);
  }
  .electro-frame-2e {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 185px;
    z-index: 77;
  }
  .electro-image-2f {
    flex-shrink: 0;
    position: relative;
    width: 185px;
    height: 116px;
    background: url(../assets/images/7df1e0de-059a-4ef6-a54b-47fbce226141.png)
      no-repeat center;
    background-size: cover;
    z-index: 78;
    border-radius: 11px;
  }
  .electro-motor-control-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 175px;
    height: 49px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 12.568012237548828px;
    font-weight: 400;
    line-height: 13.02px;
    text-align: center;
    z-index: 79;
  }
  .electro-solutions-gearless-mill-drive {
    display: block;
    position: relative;
    height: 29px;
    margin: 105px 0 0 123px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 35.626983642578125px;
    font-weight: 900;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .electro-frame-30 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 33px;
    position: relative;
    width: 734px;
    margin: 47px 0 0 123px;
    z-index: 11;
  }
  .electro-frame-31 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 19px;
    position: relative;
    min-width: 0;
    z-index: 12;
  }
  .electro-quality-control-management {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 22.395381927490234px;
    font-weight: 800;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 13;
  }
  .electro-frame-32 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 19px;
    position: relative;
    z-index: 14;
  }
  .electro-establishment-validation-criteria {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 734px;
    height: 53px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.512592315673828px;
    font-weight: 400;
    line-height: 19.179px;
    text-align: left;
    z-index: 15;
  }
  .electro-elaboration-review-supervision {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 552px;
    height: 33px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.512592315673828px;
    font-weight: 400;
    line-height: 19.179px;
    text-align: left;
    z-index: 16;
  }
  .electro-frame-33 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 19px;
    position: relative;
    min-width: 0;
    z-index: 17;
  }
  .electro-specialized-technical-support {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 22.395381927490234px;
    font-weight: 800;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
  }
  .electro-frame-34 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 19;
  }
  .electro-comparative-analysis {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.512592315673828px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
  }
  .electro-comparative-analysis-35 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 638px;
    height: 33px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.512592315673828px;
    font-weight: 400;
    line-height: 19.179px;
    text-align: left;
    z-index: 21;
  }
  .electro-conformity-check {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.512592315673828px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
  }
  .electro-frame-36 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 19px;
    position: relative;
    min-width: 0;
    z-index: 23;
  }
  .electro-installation-testing-startup {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 22.395381927490234px;
    font-weight: 800;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
  }
  .electro-frame-37 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    z-index: 25;
  }
  .electro-project-execution-plan {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.512592315673828px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
  }
  .electro-transportation-handling {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 734px;
    height: 37px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.512592315673828px;
    font-weight: 400;
    line-height: 19.179px;
    text-align: left;
    z-index: 27;
  }
  .electro-frame-38 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 19px;
    position: relative;
    min-width: 0;
    z-index: 28;
  }
  .electro-maintenance {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 22.395381927490234px;
    font-weight: 800;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 29;
  }
  .electro-frame-39 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    z-index: 30;
  }
  .electro-maintenance-strategy {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 692px;
    height: 37px;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.512592315673828px;
    font-weight: 400;
    line-height: 19.179px;
    text-align: left;
    z-index: 31;
  }
  .electro-failure-risk-assessment {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 37px;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.512592315673828px;
    font-weight: 400;
    line-height: 19.179px;
    text-align: left;
    z-index: 32;
  }
  .electro-failure-risk-assessment-3a {
    position: relative;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.512592315673828px;
    font-weight: 800;
    line-height: 19.179px;
    text-align: left;
  }
  .electro-recommended-controls {
    position: relative;
    color: #000000;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.512592315673828px;
    font-weight: 400;
    line-height: 19.179px;
    text-align: left;
  }
  .electro-rectangle-3b {
    position: relative;
    width: 100;
    height: 345.333px;
    margin: 89px 0 0 0;
    background: #191919;
    z-index: 81;
  }
  .electro-flex-column-e {
    position: absolute;
    top: 0px;
    right: 818.667px;
    bottom: 22.697px;
    left: 16px;
    font-size: 0px;
    z-index: 132;
  }
  .electro-darat-solutions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 363.333px;
    height: 156px;
    margin: 112px 0 0 74px;
    color: #ffffff;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 18.290922164916992px;
    font-weight: 600;
    line-height: 28.677px;
    text-align: left;
    letter-spacing: 1.84px;
    z-index: 92;
  }
  .electro-darat-copyright {
    display: block;
    position: relative;
    height: 11.636px;
    margin: 43px 0 0 66px;
    color: #ffffff;
    font-family: Area Normal Trial, var(--default-font-family);
    font-size: 12.004460334777832px;
    font-weight: 200;
    line-height: 11.636px;
    text-align: left;
    white-space: nowrap;
    z-index: 132;
  }
  .electro-group-3c {
    position: absolute;
    width: 9.85%;
    height: 13.7%;
    top: 0;
    left: 90.15%;
    background: url(../assets/images/a60b9b57-a047-4537-9b13-89abc301e88f.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 90;
  }
  .electro-group-3d {
    position: absolute;
    width: 85.85%;
    height: 15.33%;
    top: 0%;
    left: 0;
    background: url(../assets/images/5e86113a-8446-4ef5-8c6d-c15478249fbe.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 91;
  }
  .electro-flex-column-c {
    position: absolute;
    width: 15.86%;
    height: 76.09%;
    top: 0;
    left: 74.95%;
    z-index: 114;
  }
  .electro-darat-arabe {
    position: relative;
    width: 154.667px;
    height: 76.08px;
    margin: 144px 0 0 0;
    background: url(../assets/images/446f5eab-87b1-46e3-af3a-2be93202bc31.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 114;
  }
  .electro-frame-3e {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;
    position: relative;
    width: 85.45px;
    height: 20.483px;
    margin: 22.21px 0 0 69.333px;
    z-index: 93;
  }
  .electro-instagram-svg {
    flex-shrink: 0;
    position: relative;
    width: 20.483px;
    height: 20.483px;
    z-index: 94;
    overflow: hidden;
    max-width: 1491.182px;
  }
  .electro-instagram-svg-fill {
    position: absolute;
    width: 20.483px;
    height: 20.483px;
    top: 0;
    left: 0;
    z-index: 95;
    overflow: hidden;
  }
  .electro-instagram-svg-3f {
    position: absolute;
    width: 20.483px;
    height: 20.483px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 96;
    overflow: hidden;
  }
  .electro-group-40 {
    position: relative;
    width: 20.483px;
    height: 20.483px;
    margin: 0 0 0 0;
    z-index: 97;
  }
  .electro-group-41 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 98;
  }
  .electro-group-42 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .electro-group-43 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .electro-vector {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/a361f767-ff59-4f24-ab2a-aef29c84aa42.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 101;
  }
  .electro-tiktok-svg {
    flex-shrink: 0;
    position: relative;
    width: 20.483px;
    height: 20.483px;
    z-index: 102;
    overflow: hidden;
    max-width: 1491.182px;
  }
  .electro-tiktok-svg-fill {
    position: absolute;
    width: 20.483px;
    height: 20.483px;
    top: 0;
    left: 0;
    z-index: 103;
    overflow: hidden;
  }
  .electro-tiktok-svg-44 {
    position: absolute;
    width: 20.483px;
    height: 20.483px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 104;
    overflow: hidden;
  }
  .electro-group-45 {
    position: relative;
    width: 16.68px;
    height: 19.194px;
    margin: 0.64px 0 0 1.901px;
    z-index: 105;
  }
  .electro-vector-46 {
    position: absolute;
    width: 103.84%;
    height: 104.91%;
    top: -3.24%;
    left: -1.92%;
    background: url(../assets/images/2c66dac6-4210-4429-8deb-335e3555b01d.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 106;
  }
  .electro-linkedin-svg {
    flex-shrink: 0;
    position: relative;
    width: 20.483px;
    height: 20.483px;
    z-index: 107;
    overflow: hidden;
    max-width: 1491.182px;
  }
  .electro-linkedin-svg-fill {
    position: absolute;
    width: 20.483px;
    height: 20.483px;
    top: 0;
    left: 0;
    z-index: 108;
    overflow: hidden;
  }
  .electro-linkedin-svg-47 {
    position: absolute;
    width: 20.483px;
    height: 20.483px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 109;
    overflow: hidden;
  }
  .electro-group-48 {
    position: relative;
    width: 20.443px;
    height: 19.541px;
    margin: 0.47px 0 0 0.02px;
    z-index: 110;
  }
  .electro-group-49 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 111;
  }
  .electro-vector-4a {
    position: absolute;
    width: 100.2%;
    height: 100.2%;
    top: -0.1%;
    left: -0.1%;
    background: url(../assets/images/99f321c7-2883-42a8-a4e7-780628d99b10.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 112;
  }
  .electro-group-4b {
    position: absolute;
    width: 24.07%;
    height: 46.21%;
    top: 0;
    left: 13.79%;
    background: url(../assets/images/afea10d6-9288-46b5-9d00-ca8e7e4004ad.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 88;
  }
  .electro-group-4c {
    position: absolute;
    width: 51.7%;
    height: 18.86%;
    top: 3.81%;
    left: 29.5%;
    background: url(../assets/images/f4f05df6-5ee0-4d2a-a318-1030b8f853ff.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 89;
  }
  .electro-group-4d {
    position: absolute;
    width: 65.37%;
    height: 29.94%;
    top: 4.57%;
    left: 31.19%;
    background: url(../assets/images/80c30dff-184c-4bf4-a8fb-6f76f8694f24.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 86;
  }
  .electro-group-4e {
    position: absolute;
    width: 48.78%;
    height: 22.79%;
    top: 13.45%;
    left: 51.22%;
    background: url(../assets/images/ae0dc010-f7e0-4a2b-85cc-e28ef0d0e318.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 87;
  }
  .electro-vector-4f {
    position: absolute;
    width: 8.48%;
    height: 6.55%;
    top: 38.82%;
    left: 29.88%;
    background: url(../assets/images/6b012abe-19e2-4d70-bce6-2c40c8a46717.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 85;
  }
  .electro-group-50 {
    position: absolute;
    width: 20.27%;
    height: 5.47%;
    top: 39.83%;
    left: 51.22%;
    background: url(../assets/images/e95b5aad-1eef-4182-a1e4-7ec0c1bb870b.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 84;
  }
  .electro-flex-column-dfc {
    position: absolute;
    width: 38.68%;
    height: 13.27%;
    top: 4.05%;
    left: 36.98%;
    z-index: 83;
  }
  .electro-group-51 {
    position: relative;
    width: 229.806px;
    height: 18.75px;
    margin: 0 0 0 265.274px;
    background: url(../assets/images/25573f6c-04c1-4582-9cc9-19a95db9169e.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 82;
  }
  .electro-group-52 {
    position: relative;
    width: 446.997px;
    height: 36.703px;
    margin: -9.617px 0 0 0;
    background: url(../assets/images/5f20b7e8-2cb8-4084-a4f9-1831b73af7e6.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 83;
  }
  .electro-vector-53 {
    position: absolute;
    width: 38.871px;
    height: 24.594px;
    top: 269.128px;
    /* left: 1174.898px;
     */
     right: 5rem;
    background: url(../assets/images/b4a5d806-d124-42fb-9ffd-7b739f9ebb29.png)
      no-repeat center;
    background-size: cover;
    z-index: 113;
  }
  .electro-mask-group {
    position: absolute;
    width: 100%;
    height: 708px;
    top: 0px;
    /* left: -23px; */
    background: url(../assets/images/913ef57d-b6d0-4089-8d90-95eeec29595b.png)
      no-repeat center;
    background-size: cover;
    z-index: 2;
    opacity: 0.5;
  }
  .electro--hd-fps {
    position: absolute;
    width: 100%;
    height: 708px;
    /* top: 124px; */
    left: 50%;
    background: url(../assets/images/ba7ece96766dbcc8d974f30e55311aa13cc41625.png)
      no-repeat center;
    background-size: cover;
    transform: translate(-50%, 0);
  }
  